:root{
    --primary-color:#6c63ff;
    --box-shadow: 0 5px 10 px rgba(0,0,0,0.3);
    --heading-font-family:'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}

 
body{
    margin-top: 100px;
}

h1,h2,h3{
    margin: 0;
    font-style: var(--heading-font-family);
    font-weight: bold;
}

h1{
    font-size: 98px;
}

h2 {
    font-size: 48px;
}

h3{
    font-size: 24px;
    opacity:0.7;
}

p {
    font-style: var(--default-font-family);
    font-weight: normal;
}

.navigation-links{
    display: flex;
    justify-content: center;
    font-style: var(--default-font-family);
    font-weight: normal;
}

.navigation-links a{
    margin: 20px;
    margin-top: 40px;
    font-style: var(--default-font-family);
    font-weight: normal;
    }

.primary-link{
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 20px 15px;
    text-transform: capitalize;
    font-style: var(--default-font-family);
    font-weight: normal;
}

.primary-link:hover{
    border: 1px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    border-radius: 4px;
    text-decoration: none;
    padding: 20px 15px;
    text-transform: capitalize;
    font-style: var(--default-font-family);
    font-weight: bold;  
}

.secondary-link{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
    text-decoration: none;
    padding: 20px 15px;
    text-transform: capitalize;
    font-style: var(--default-font-family);
    font-weight: normal;
}

.secondary-link:hover{
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 20px 15px;
    text-transform: capitalize;
    font-style: var(--default-font-family);
    font-weight: bold;
}

.email-link{
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
    font-style: var(--default-font-family);
    font-weight: normal;
}

.email-link:hover{
    text-decoration: underline;
}

@media (max-width:576px){

    .app-description,.about-me-info, .contact-box{
        background-color: #F2F2F2;
        padding: 20px 15px;
        margin: 20px;
        border-radius: 4px;
        text-align: center;
    }

    .app-description h2 {
        font-size: 30px;
    }
}

